<div class="card" ng-init="tsk.getTasksList(projid)">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" ng-repeat="task in tsk.tasks">
      <div class="d-inline sort_arrows">
        <span ng-click="tsk.movePosition(projid, task, -1)">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </span>
        <span ng-click="tsk.movePosition(projid, task, 1)">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </span>
      </div>
      <div class="d-inline" ng-hide="showedttask">
        <input type="checkbox" ng-model="task.completed" ng-change="tsk.finished(task.project_id, task.id)">
        {{ task.name}}
      </div>

      <div class="d-inline btn-group btn-group-sm" role="group" ng-show="showedttask">
        <input type="text" ng-model=task.name required="required" class="form-control form-control input-sm" value="{{task.name}}">
        <button class="btn btn-sm btn-primary" type="submit" ng-click="tsk.editTask(task);showedttask=false">Save</button>
        <button class="btn btn-sm btn-secondary" type="button" ng-click="tsk.cancel(task);showedttask=false" ng-discard>Cancel</button>
      </div>

      <div class="panel_edit" style="z-index:999">
        <span>
          <i class="fa fa-comment" aria-hidden="true" ng-click="showcomments=true"></i>
        </span>
        <span>
          <i class="fa fa-clock-o" aria-hidden="true" ng-click="tsk.showModal1 = true"></i>
        </span>
        <span>
          <i class="fa fa-pencil" aria-hidden="true" ng-click="showedttask=true"></i>
        </span>
        <span>
          <i class="fa fa-trash" aria-hidden="true" ng-click="tsk.deleteTask(task, projid)"></i>
        </span>
      </div>
      <comments-list ng-if="showcomments===true" projid="projid" taskid="task.id"></comments-list>
    </li>
  </ul>
  <div>
    <input type="text" required="required" class="form-control" placeholder="Enter Task Name ..." ng-click="showbtn=true" ng-model="tasknew">
    <br>
    <div class="btn-group" role="group">
      <button class="btn btn-lg btn-primary" type="submit" ng-show="showbtn" ng-click="tsk.createTask(tasknew, projid)">Add Task</button>
      <button class="btn btn-lg btn-secondary" type="button" ng-show="showbtn" ng-click="showbtn=false">Cancel</button>
    </div>
  </div>
</div>
        <modal visible="tsk.showModal1" on-show="tsk.modalOneShown()" on-hide="tsk.modalOneHide()">
            <modal-header title="Modal Titel 1"></modal-header>
            <modal-body>
                <h3>This is modal body {{tsk.showModal1}}</h3>
            </modal-body>
            <modal-footer>
                <button class="btn btn-primary"  ng-click="tsk.hide(1)">Save</button>
            </modal-footer>
        </modal>
