<div class="modal-header">
  {{modal.title}}
</div>
<div class="modal-body">

  <p class="input-group">
    <input type="date" datepicker-popup
            class="form-control"
            ng-model="modal.dt"
            is-open="main.opened"
            close-text="Close" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation(); main.opened = true">
        <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </span>
  </p>

</div>
