<!-- The Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" ng-init="comctrl.getListComments(projid, task.id)">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Comment</h4>
        <button type="button" class="close" data-dismiss="modal" ng-click="comctrl.closeModalComment()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form name="newCommentForm" ng-submit="comctrl.saveCommentForm(comctrl.form, newCommentForm)" role="form">
          <div class="form-group">
            <textarea class="form-control" ng-model="comctrl.form.comment" rows="3" placeholder="Enter Your Comment"></textarea>
          </div>
          <div class="form-group">
            <i class="fa fa-paperclip fa-2x file_upload" aria-hidden="true" ngf-select ng-model="comctrl.form.file_upload" name="file_upload" ngf-pattern="'image/jpeg,image/jpg,image/png'" ngf-accept="'image/jpeg,image/jpg,image/png'" ngf-max-size="10MB" ngf-model-invalid="errorFiles"></i>
          </div>
          <i class="text-danger" ng-show="newCommentForm.file_upload.$error.maxSize">An uploaded file is too large. The size shouldn’t exceed 10 MB.</i>
          <i class="text-danger" ng-show="newCommentForm.file_upload.$error.pattern">Wrong file format. You can upload a *.jpg or *.png formats files only.</i>
          <img class="home-icon-img" ngf-thumbnail="comctrl.form.file_upload" ngf-size="{width: 140, height: 140, quality: 0.9}">
          <div class="form-group">
            <button type="submit" value="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="comctrl.closeModalComment()">Cancel</button>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" ng-repeat="comment in comctrl.comments">

          <div class="header">
            <span class="create_date">{{comment.created_at | date : 'MM/dd/yyyy'}}</span>
            <i class="fa fa-trash" aria-hidden="true" ng-click="comctrl.deleteComment(comment)"></i>
          </div>
          <div class="body">
            {{comment.comment}}
          </div>
          <div class="comment_file" ng-show="comment.file.url !== null">
            <img class="home-icon-img" ngf-thumbnail="comment.file.url">
          </div>
      </div>
    </div>
  </div>
</div>
