<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Open modal
</button>
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Comment</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- <form name="newCommentForm" ng-submit="comctrl.saveCommentForm()" role="form"> -->
        <form name="newCommentForm" ng-submit="comctrl.saveCommentForm(comctrl.form, newCommentForm)" role="form">
          <div class="form-group">
            <textarea class="form-control" ng-model="comctrl.form.comment" rows="3" placeholder="Enter Your Comment"></textarea>
          </div>
          <div class="form-group">
<!--             <input type="file" ng-model="newCommentForm.file_upload" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"> -->
          <!-- <input type="file" ngf-select ng-model="comctrl.form.file_upload" id="file_upload" name="file_upload" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"> -->

  <div ngf-select ng-model="comctrl.form.file_upload" name="file_upload" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB">Select</div>

          </div>
          <img class="home-icon-img" ngf-thumbnail="comctrl.form.file_upload">
          <div class="form-group">
            <button type="submit" value="submit" class="btn btn-secondary">Save</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
