<div class='proj-container'>
  <h2>Projects</h2>

  <project-list></project-list>


      <!-- <project-list projects="prjCtrl.projects" gettasks="prjCtrl.getTasksList(proj)" tasks="TasksCtrl.tasks"></project-list> -->

  <div>
    <input type="text" name="projectnew" id="projectnew" required="required" class="form-control" placeholder="Enter Project Name ..." ng-click="showbtn=true" ng-model="projectnew">
    <br>
    <div class="btn-group" role="group">
      <button class="btn btn-lg btn-primary" type="submit" ng-show="showbtn" ng-click="prjCtrl.createProject(projectnew)">Create Project</button>
      <button class="btn btn-lg btn-secondary" type="button" ng-show="showbtn" ng-click="showbtn=false">Cancel</button>
    </div>
  </div>
</div>
