[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.fa-sign-out {
  color: darkgrey;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.proj-container{
  width: 70%;
  margin: 0 auto;
}

/*.card-block:not(.collapsed):hash(> .card-header) {
  background-color: rgb(225, 234, 242);
}*/

@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
/*.card-block:not(.collapsed):after + .card-header{
  content: "\f054";
}

.card-header:after {
    font-family: 'FontAwesome';
    content: "\f054";
    float: left;

}*/

.card-header > span {
  cursor:pointer;
}

.collapsed:hover {
    font-family: 'FontAwesome';
    content: "\f078";
}
.panel_edit{
  float: right;
  visibility: hidden;
  cursor:pointer;
}
.card-header:hover > .panel_edit{
  visibility: visible;
}
.list-group-item:hover > .panel_edit{
  visibility: visible;
}
.list-group-item:hover > .sort_arrows{
  visibility: visible;
}
/*.card_block:not(.collapsed) > .panel_edit{
  visibility: hidden;
}*/
/*.card-header:not([aria-expanded="true"]) .fa.fa-caret-down,
.card-header[aria-expanded="false"] .fa.fa-caret-down,
.card-header[aria-expanded="true"] .fa.fa-caret-right {
   display:none;
}*/

.sort_arrows{
  visibility: hidden;
  cursor:pointer;
}

.btn-file {
  position: relative;
  z-index: 9999;
  float: right;
  right: 15px;
  bottom: 75px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
