<form class="form-signin" ng-submit="submitRegistration(registrationForm)" name="regform" id="regform" role="form" ng-init="registrationForm = {}">
  <h2 class="form-signin-heading">Sign up</h2>
  <div class="form-group">
    <input type="email" name="email" id="email" ng-model="registrationForm.email" required="required" class="form-control" placeholder="Email address" autofocus>
  </div>
  <div class="form-group">
    <input type="password" name="password" id="password" ng-model="registrationForm.password" required="required" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" name="password_confirmation" id="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control" placeholder="Password confirmation"/>
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <br><span>Already a member? <a href="#!/login">Sign In</a></span>
  </div>
</form>
